/* square buttons */
.rec.rec-arrow {
    border-radius: 0;
    background-color: rgba(122	,122,138,0.3);
    border-radius: 50%;
}
/* round buttons on hover */
.rec.rec-arrow:hover{
    background-color: lightgrey;
}
/* hide disabled buttons */

/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item:focus {
    outline: none;
    box-shadow: inset 0 0 1px 1px lightgrey;
}
.teamCard{
    display: flex;
    flex-direction: column;
    height: 500px;
    color: white;
    width: 180px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.imageCover{
    width: 100%;
    height: 60%;
    position: relative;
    overflow: hidden;
    border-radius: 7px;
}
.cardTextCont{
    width: auto;
    height: auto;
}
.imageCard{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}
.teamText{
    font-weight: light;
    inline-size:270px;
    overflow: break-word;
}
@media (max-width: 768px) {
    .rec.rec-arrow {
      display: none;
    }
    .teamCard{
        display: flex;
        flex-direction: column;
        height: 100%;
        color: white;
        width: 400px;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .imageCover{
        width: 100%;
        height: 280px;
        position: relative;
        overflow: hidden;
        border-radius: 7px;
        padding: 10px;
        flex: 1;
    }
    .cardTextCont{
        flex: 1;
    }
    .imageCard{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    .teamText{
        font-weight: light;
        inline-size:300px;
        overflow: break-word;
    }
    .teamText a{
        margin-bottom: 50px;
    }
  }
