
.faqContainer{
    margin-top: -70px;
    z-index: 2000;
    @apply mb-36;
}
.faqContent{
   @apply mx-24;
   display: flex;
   flex-direction: column;
   align-items: center

}
.faqText{
    text-align: center;
}
.faqText h1{
    color: hsl(215, 94%, 47%);
    font-size:32px;
    overflow-wrap: break-word;
    font-weight: 700;
    margin-bottom: 30px;
}
.faqText p{
    color: white;
    inline-size: 500px;
    overflow-wrap: break-word;
}
.faqCarousel{
    margin-top: 30px;
    width: 70%;
}
@media screen and (max-width:768px) {
    
.faqContainer{
    margin-top: -70px;
    z-index: 2000
}
.faqContent{
   @apply mx-0;

}
.faqText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.faqText h1{
    color: hsl(215, 94%, 47%);
    font-size:32px;
    overflow-wrap: break-word;
    font-weight: 700;
    margin-bottom: 30px;
    place-content: center;
    margin: auto;
}
.faqText p{
    color: white;
    inline-size: 300px;
    overflow-wrap: break-word;
    text-align: center;
}
.faqCarousel{
    margin-top: 30px;
    width: 90%;
}
}

