.heroContainer{
    background-color: #000f19;
    background-image: url(../public/map.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain
 
}
.herocontent{
    @apply flex mx-20;
}
.imageChart{
    height: 250px;
    width: 400px;
}
.heroleft{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    margin-top: 60px;
}
.heroleft:nth-child(){
    flex:1;
}
.heroleft h1{
    font-weight: 800;
    font-size: 52px;
    color: #BCB8B8;
    inline-size: 550px;
    overflow-wrap: break-word;
    line-height: 62px;
 
    
}
.heroleft p{
    color: white;
    font-weight:600;
    padding-top: 20px;
    font-family: "poppins";
    
}
.buttonSide{
    margin-bottom: 30px;
}
.buttonContent{
   
    
}
.heroRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}
.blue{
    color: #0764E7;
}
.heroBelow{
    background-image: url(../public/pattern.png);
    background-position: center;
    background-size: contain;
   @apply m-20 mb-10;
}
.heroBelow h1{
    font-weight: bold;
    font-size: 35px;
    color: #0764E7;
    margin-bottom: 10px;
    width: 40%;
}
.heroBelow p{
    color: white;
    margin-bottom: 30px;
    width: 40%;
    font-weight: light;
    font-family: "poppins";
    font-size: 16px;
}

@media screen and (max-width: 767px){
    .heroContainer{
        background-color: #000f19;
        background-image: url(../public/map.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      
     
    }
    .herocontent{
        @apply flex-col mx-7;
    }
    
    .heroleft{
        display: flex;
        flex-direction: column;
        gap: 30px;
        flex: 1;
        margin-top: 90px;
    }
    .heroleft:nth-child(){
        flex:1;
    }
    .heroleft h1{
        font-weight: 800;
        font-size: 36px;
        color: #BCB8B8;
        line-height: 50px;
        inline-size: 300px;
        overflow-wrap: break-word;
        
    }
    .heroleft p{
        color: white;
        font-weight:600;
        padding-top: 20px;
        inline-size: 300px;
        overflow-wrap: break-word;
        
    }
    .buttonSide{
        margin-bottom: 30px;
    }
    .buttonContent{
       
        
    }
    .heroRight{
        flex: 1;
        display: flex;
        justify-content: start;
        align-items: start;
        background-color: #000F19;
    }
    .blue{
        color: #0764E7;
    }
    .heroBelow{
        background-image: url(../public/pattern.png);
        background-position: center;
        background-size: contain;
       @apply m-8;
    }
    .heroBelow h1{
        font-weight: bold;
        font-size: 36px;
        color: #0764E7;
        margin-bottom: 10px;
        width: 100%;
    }
    .heroBelow p{
        color: white;
        margin-bottom: 30px;
        width: 80%;
        font-weight: light;
        font-size: 16px;

    }
    .imageChart{
        height: auto;
        width: 380px;
       
    }

}